.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page {
    user-select: none;
    height: 100%;
    width: 100%;
}
